@font-face {
  font-family: "FSP Demo";
  src: url("./fonts/fsp-demo.eot") format("eot"),
    url("./fonts/fsp-demo.woff2") format("woff2"),
    url("./fonts/fsp-demo.woff") format("woff"),
    url("./fonts/fsp-demo.ttf") format("truetype"),
    url("./fonts/fsp-demo.svg") format("svg");
}

@font-face {
  font-family: "QuanSlimR Regular";
  src: url("./fonts/QuanSlimR-Regular.eot") format("eot"),
    url("./fonts/QuanSlimR-Regular.woff2") format("woff2"),
    url("./fonts/QuanSlimR-Regular.woff") format("woff"),
    url("./fonts/QuanSlimR-Regular.ttf") format("truetype"),
    url("./fonts/QuanSlimR-Regular.svg") format("svg");
}

@font-face {
  font-family: "valorax";
  src: url("./fonts/valorax.eot") format("eot"),
    url("./fonts/valorax.woff2") format("woff2"),
    url("./fonts/valorax.woff") format("woff"),
    url("./fonts/valorax.ttf") format("truetype"),
    url("./fonts/valorax.svg") format("svg");
}
