@charset "utf-8";

@import "fonts";

$background-color: black;

$navbar-background: #191F35;
$navbar-color: rgb(209, 176, 21);
$navbar-accent: white;
$navbar-link-active: white;
$navbar-hamburger: rgb(209, 176, 21);

body {
  background-color: $background-color;
  font-family: QuanSlimR Regular;
  font-size: 28px;
  color: white;

  background-image: url('img/background.png');
  background-repeat: repeat;
}

.full-container {
  padding-top: 50px;
  width: 100%;
  height: 100%;

  background-image: url('img/background-logo.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  // background-attachment: fixed;
}

.overlay {
  width: 100%;
  padding-top: 50px;
  background-image: url('img/background-overlay.png');
  background-repeat: repeat;
}

h1 {
  color: $navbar-color;
  text-align: center;
  margin-bottom: 35px;
  font-size: 48px;
}

h1, h2, h3, h4, h5 {
  font-family: FSP Demo;
}

p {
  line-height: 26px;
}

.navbar {
  background: $navbar-background;
  color: $navbar-color;
  box-shadow:
    0 -5px 10px -5px $navbar-accent,
    0 5px 10px -5px $navbar-accent;

  @media (min-width: 992px) {
    #navbarNav {
      display: none !important;
    }
  }

  .navbar-toggler {
    background: $navbar-hamburger;
  }

  .nav-link {
    font-family: SourceSansPro-Bold;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
    color: $navbar-color;

    transition: color 0.3s ease, transform 0.2s ease;

    &:active { color: $navbar-link-active; }
    &:focus { color: $navbar-link-active; }
    &:focus-visible { color: $navbar-link-active; outline: 2px solid $navbar-link-active; }
    &:visited { color: $navbar-color; }

    &:first-child {
      margin-right: 40px;
    }

    &.active {
      color: $navbar-link-active;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
    }
  }
}

.member {
  text-align: center;

  .nickname {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    margin-left: 16px;
    margin-bottom: -20px;
  }

  .name {
    color: #4A64C8;
    margin-left: 16px;
    font-size: 36px;
  }

  &.col-lg-12 img {
    width: 196px;
  }
}


.contact {
  margin-bottom: 25px;

  &:first-child {
    text-align: right;
    padding-right: 50px;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
  }
}


@media (max-width: 576px) {
  h1 {
    font-size: 48px;

    &.mobile-sm-title {
      font-size: 36px;
    }
  }
}

@media (max-width: 993px) {
  .contact {
    text-align: center !important;
    padding-right: 0 !important;
  }
}
