---
layout: default
---

<h1>Home</h1>

<p style="text-align: center;">
  We are <b>Little Giants</b>, a Belgian esports team focused on Counter-Strike 2.
  <br />
  Whether we're practicing, competing, or connecting with our community,
  our goal is simple: to keep improving and to play at the highest level.

  <br />
  <br />
  Join us on our journey as we push our limits, take on new challenges, and aim for victory.
  Stay updated with our latest matches, streams, and team news.
</p>

<p style="text-align: center;">
  <b>Game. Compete. Grow.</b>
</p>
